@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Poppins:wght@500&display=swap");

#navbar_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 40px;
  background-color: #5e0000;
  justify-content: center;
  margin-top: 0.5em;
  align-items: center;
  position: fixed;
  z-index: 500;
  font-family: "Alegreya SC";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;

  color: #ffffff;
}

#navbar_vos {
  display: flex;
  justify-content: center;
  align-items: center;
}

#img_vos_nav {
  width: 34px;
  height: 34px;
  border-radius: 100%;
}

#links {
  display: flex;
  justify-content: space-around;
}

.link_decoration {
  text-decoration: none;
  color: #f9f9f9;
  line-height: 0%;
  margin: 0;
  padding: 0;
}

#campana_img {
  width: 25px;
  height: 25px;
}

#input_navbar {
  background: #3f0202;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 30px;
  width: 331px;
  color: white;
  text-align: center;
  border-radius: 0px;
}

#search_icon {
  position: absolute;
}

#egdm {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

#egdm_false {
  display: none;
}

#centerme_on_top {
  position: fixed;
  top: 0;
  left: 40%;
  top: 20%;
  width: 500px;
  height: 500px;
}
